@import "../node_modules/bulma/css/bulma.css";

.App {
  display: flex;
  width: 250px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button.bottomRow {
  bottom: 50px;
  right: 25px;
}
.button {
  position: relative;
  height: 50px;
  width: 50px;
}

.container {
  border: 2px solid black;
  padding: 5px;
  width: 250px;
  height: 350px;
  background-color: #5995da;
  box-sizing: border-box;
  text-align: center;
}

.display {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  display: inline-block;
  background-color: whitesmoke;
}

.formula {
  text-align: right;
  font-weight: bold;
}

.output {
  text-align: right;
  font-weight: bold;
}

.spacing {
  height: 10px;
}
